# **Homework Python API**
## Essential Python for Data Analyst
**Date**: 20 January 2023

**Author**: Supawit Srisupap

### `give_me_joke()`

In [ ]:
import requests 
import time
import pandas as pd

In [ ]:
def give_me_joke(n=3):
    url = "https://official-joke-api.appspot.com/random_joke"
    print(requests.get(url))
    types = []
    setups = []
    punchlines = []

    for i in range(0,n):
        resp = requests.get(url)
        results = resp.json()
        types.append(results['type'])
        setups.append(results['setup'])
        punchlines.append(results['punchline'])
        i += 1
        time.sleep(1)

    df = pd.DataFrame({
        "Type": types, 
        "Setup": setups,
        "Punchline": punchlines
    })
    
    return  df

In [ ]:
give_me_joke()

<Response [200]>

      Type                                        Setup     Punchline
0  general        How does a French skeleton say hello?    Bone-jour.
1  general  What did the fish say when it hit the wall?          Dam.
2  general         What do you call a cow with no legs?  Ground beef!

### `btc_price()`

In [ ]:
import requests 
import time
import pandas as pd 
import json

In [ ]:
def btc_price():
    url = "https://api.coindesk.com/v1/bpi/currentprice.json"
    print(requests.get(url))
    resp = requests.get(url)
    result = resp.json()
    rate = result['bpi']['USD']['rate']
    time = result['time']['updated']
    print(f'''{time}
Bitcoin price is {rate} USD''')

In [ ]:
btc_price()

<Response [200]>
Jan 20, 2023 04:53:00 UTC
Bitcoin price is 21,002.5032 USD

### `dog()`
### `จุ๊บเหม่ง`

In [ ]:
import requests 
import time
import pandas as pd 
import json

In [ ]:
def dog():    
    url = "https://dog.ceo/api/breeds/image/random"
    print(requests.get(url))
    resp = requests.get(url)
    result = resp.json()
    print(result['message'])

In [ ]:
dog()

<Response [200]>
https://images.dog.ceo/breeds/leonberg/n02111129_3498.jpg

### `bored()`

In [ ]:
import requests 
import time
import pandas as pd 
import json

In [ ]:
def bored(n=5):
    activity = []
    types = []
    participants = []
    price = []
    link = []
    url = "https://www.boredapi.com/api/activity/"
    print(requests.get(url))

    for i in range(0,n):       
        resp = requests.get(url)
        result = resp.json()
        activity.append(result['activity'])
        types.append(result['type'])
        participants.append(result['participants'])
        price.append(result['price'])
        link.append(result['link'])
        i += 1
        time.sleep(1)

    df = pd.DataFrame({'Type':types,
                      'Activity':activity,
                      'Participants':participants,
                      'Price':price,
                      'Link':link,}
                      )
    return df

In [ ]:
bored()

<Response [200]>

# function

In [ ]:
give_me_joke()

<Response [200]>

,Type,Setup,Punchline
0,general,Where’s the bin?,I haven’t been anywhere!
1,general,What kind of music do welders like?,Heavy metal.
2,general,What is a tornado's favorite game to play?,Twister!

In [ ]:
btc_price()

Jan 20, 2023 04:51:00 UTC
Bitcoin price is 21,049.8190 USD

In [ ]:
dog()

https://images.dog.ceo/breeds/pinscher-miniature/n02107312_5114.jpg

In [ ]:
bored()

<Response [200]>

,Type,Activity,Participants,Price,Link
0,social,Go to a music festival with some friends,4,0.40,
1,social,Have a paper airplane contest with some friends,4,0.02,
2,education,Learn Javascript,1,0.00,
3,busywork,Clean out your refrigerator,1,0.00,
4,busywork,Organize your pantry,1,0.00,